<p align="center">  <!-- my logo -->
    <img src="./img/folders.png" width="200"/>
</p>


#### sf cli installation    
[salesforce cli download](https://developer.salesforce.com/tools/salesforcecli)


## sf cli verification 
```
sf --version
sf plugins --core
```

## Available commands 
```
sf commands
sf whatsnew
```


