<p align="center">  <!-- my logo -->
    <img src="https://www.amug.com/wp-content/uploads/2016/09/you-logo-here-300x106.png" />
</p>

## sf cli installation    
```
[https://developer.salesforce.com/tools/salesforcecli](https://developer.salesforce.com/tools/salesforcecli)
```

## sf cli verification 
```
sf --version

sf plugins --core
```

## Available commands 
```
sf commands

sf whatsnew
```


